<div class="card my-3 border border-primary">
  <div class="card-body">
    <h4 class="card-title text-muted d-inline ">
      <%= User.find(comment.user_id).nick %>
    </h4>
    <h4 class="text-muted float-end d-inline">
      <%= comment.comment_date.strftime("%k:%M %d/%m/%Y") %>
    </h4>
    <p class="card-text my-3">
      <%= comment.content %>
    </p>
    <%= link_to "Usuń komentarz", [:admin, comment.post, comment],class:"btn btn-warning float-end fs-6", data: {
                        turbo_method: :delete,
                        turbo_confirm: "Na pewno?"
                      } %>
  </div>
</div>
<br>
