<br>
<div class="container" style="font-family: 'Anton', sans-serif; width: 900px;">
  <div class="card text-center">
    <div class="card-header bg-primary bg-gradien text-black fs-2">
      <h1> Edytuj Post </h1>
    </div>
    <%= render "form", post: @post %>
  </div>
</div>
