<div class="container my-4" style="font-family: 'Peralta', cursive; width: 900px;">
  <div class="card text-center">
    <div class="card-header bg-primary text-black bg-gradien fs-2">
      <h1> Your new Post </h1>
    </div>
    <%= render "form", post: @post %>
  </div>
</div>
